/* .movie-detailed {
    padding: 30px 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}
.movie-detailed:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    z-index: 0;
}
.movie-detailed .container {
    display: flex;
    flex-wrap: wrap;
    background: rgba(256,256,256,.9);
    padding: 20px 3%;
    border-radius: 10px;
    position: relative;
}
.movie-detailed h1 {
    color:cornflowerblue;
    font-size: 1.8rem;
    font-family: 'Quicksand', sans-serif;
}
.movie-detailed .details {
    padding: 0 3%;
    width: 70%;
    box-sizing: border-box;
}
.movie-detailed .image-container {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.movie-detailed .movie-field {
    padding: 3px 0;
    color: dimgray;
    font-weight: lighter;
    font-size: 18px;
}
.movie-detailed label {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}
.movie-detailed .plot {
    width: 100%;
} */

.slick-prev:before, .slick-next:before {
    color: cornflowerblue;
}